In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import warnings
warnings.filterwarnings('ignore')

In [2]:
airline = pd.read_csv("dataset/airline.csv")
airline.columns = ['airline_code', 'airline_name']

In [3]:
airline.head()

  airline_code            airline_name
0           9E       Endeavor Air Inc.
1           AA  American Airlines Inc.
2           AS    Alaska Airlines Inc.
3           B6         JetBlue Airways
4           DL    Delta Air Lines Inc.

In [4]:
airport = pd.read_csv("dataset/airport.csv")

In [5]:
airport.head()

,airport_id,airport_code,airport_name,address,city,state,longitude,latitude
0,10135,ABE,Lehigh Valley International,3311 Airport Rd,Allentown,PA,-75.44040,40.65236
1,10136,ABI,Abilene Regional,2933 Airport Blvd,Abilene,TX,-99.68190,32.41132
2,10139,ABL,Ambler River,NaN,Ambler,AK,-157.85747,67.10631
3,10140,ABQ,Albuquerque International Sunport,2200 Sunport Blvd SE,Albuquerque,NM,-106.60919,35.04022
4,10141,ABR,Aberdeen Regional,123 S Lincoln St,Aberdeen,SD,-98.42183,45.44906

In [6]:
cancellation_df = pd.read_csv("dataset/cancellation.csv")
cancellation_df.columns = ['cancellation_code', 'cancellation_description']

In [7]:
cancellation_df

  cancellation_code cancellation_description
0                 A                  Carrier
1                 B                  Weather
2                 C      National Air System
3                 D                 Security

## Flights in the Year of 2020

In [8]:
flight_2020 = pd.read_csv("dataset/flights_2020.csv")

In [9]:
flight_2020.shape

(634131, 13)

In [10]:
flight_2020.columns = map(str.lower, flight_2020.columns)

flight_2020.columns = ['flight_date', 'airline_code', 'departure_airport', 'arrival_airport',
                    'departure_delay', 'arrival_delay','carrier_delay', 'weather_delay', 'national_aviation_system_delay', 
                    'security_delay','late_aircraft_delay', 'cancelled', 'cancellation_code']

In [11]:
flight_2020['flight_date'] = pd.to_datetime(flight_2020['flight_date']).dt.strftime('%Y-%m-%d')

In [12]:
flight_2020.head()

,flight_date,airline_code,departure_airport,arrival_airport,departure_delay,arrival_delay,carrier_delay,weather_delay,national_aviation_system_delay,security_delay,late_aircraft_delay,cancelled,cancellation_code
0,2020-03-01,DL,10397,10135,-1.0,-9.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,2020-03-01,9E,10397,10135,-2.0,-10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2020-03-02,DL,10397,10135,-4.0,-2.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,2020-03-02,9E,10397,10135,-4.0,-4.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,2020-03-02,9E,10397,10135,81.0,71.0,71.0,0.0,0.0,0.0,0.0,0.0,NaN

## Flights in the Year of 2019

In [13]:
flights_2019 = pd.read_csv("dataset/flights_2019.csv")

In [14]:
flights_2019.shape

(619982, 13)

In [15]:
flights_2019.columns = map(str.lower, flights_2019.columns)
flights_2019.columns = ['flight_date', 'airline_code', 'departure_airport', 'arrival_airport',
                    'departure_delay', 'arrival_delay','carrier_delay', 'weather_delay', 'national_aviation_system_delay', 
                    'security_delay','late_aircraft_delay', 'cancelled', 'cancellation_code']

In [16]:
flights_2019['flight_date'] = pd.to_datetime(flights_2019['flight_date']).dt.strftime('%Y-%m-%d')

In [17]:
flights_2019.head()

,flight_date,airline_code,departure_airport,arrival_airport,departure_delay,arrival_delay,carrier_delay,weather_delay,national_aviation_system_delay,security_delay,late_aircraft_delay,cancelled,cancellation_code
0,2019-03-01,9E,10397,10135,9.0,-5.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,2019-03-01,DL,10397,10135,-3.0,-16.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
2,2019-03-01,9E,10397,10135,-2.0,-16.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
3,2019-03-02,9E,10397,10135,-6.0,-10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
4,2019-03-02,DL,10397,10135,-3.0,-14.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN

### combine 2 tables

In [18]:
flight = pd.concat([flights_2019, flight_2020])

In [19]:
flight.shape

(1254113, 13)

In [20]:
flight["flight_id"] = range(1, len(flight)+1)

flight = flight[["flight_id",'flight_date', 'airline_code', 'departure_airport', 'arrival_airport', 'departure_delay', 
                 'arrival_delay', 'carrier_delay', 'weather_delay', 'national_aviation_system_delay', 'security_delay', 
                 'late_aircraft_delay', 'cancelled', 'cancellation_code']]

In [21]:
flight['year']=[d.split('-')[0] for d in flight.flight_date]
flight['month']=[d.split('-')[1] for d in flight.flight_date]
flight['day']=[d.split('-')[2] for d in flight.flight_date]

In [22]:
flight = flight [['flight_id', 'year', 'month', 'day', 'airline_code', 'departure_airport', 'arrival_airport','departure_delay',
                'arrival_delay', 'carrier_delay', 'weather_delay', 'national_aviation_system_delay', 'security_delay', 
                 'late_aircraft_delay', 'cancelled', 'cancellation_code']]
flight['cancelled'] = flight['cancelled'].astype(int)

In [37]:
flight.head()

,flight_id,year,month,day,airline_code,departure_airport,arrival_airport,departure_delay,arrival_delay,carrier_delay,weather_delay,national_aviation_system_delay,security_delay,late_aircraft_delay,cancelled,cancellation_code
0,1,2019,03,01,9E,10397,10135,9.0,-5.0,NaN,NaN,NaN,NaN,NaN,0,NaN
1,2,2019,03,01,DL,10397,10135,-3.0,-16.0,NaN,NaN,NaN,NaN,NaN,0,NaN
2,3,2019,03,01,9E,10397,10135,-2.0,-16.0,NaN,NaN,NaN,NaN,NaN,0,NaN
3,4,2019,03,02,9E,10397,10135,-6.0,-10.0,NaN,NaN,NaN,NaN,NaN,0,NaN
4,5,2019,03,02,DL,10397,10135,-3.0,-14.0,NaN,NaN,NaN,NaN,NaN,0,NaN

In [43]:
flight.to_csv('dataset/flight_combined.csv', encoding='utf-8',index=False)

## Load data into Sql database

In [44]:
engine = create_engine('postgresql://postgres:postgres@flightdb.cbg99jbqtg8u.us-east-2.rds.amazonaws.com/flightdb')

In [45]:
connection = engine.connect()

In [46]:
engine.table_names()

['airline', 'flight', 'airport', 'cancellation']

In [47]:
airline.to_sql(name='airline', con=engine, if_exists='append', index=False)
airport.to_sql(name='airport', con=engine, if_exists='append', index=False)
cancellation_df.to_sql(name='cancellation', con=engine, if_exists='append', index=False)
flight.to_sql(name='flight', con=engine, if_exists='append', index=False)