In [23]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import warnings
warnings.filterwarnings('ignore')

In [32]:
airline = pd.read_csv("dataset/airline.csv")
airline.columns = ['airline_code', 'airline_name']

In [33]:
airline.head()

  airline_code            airline_name
0           9E       Endeavor Air Inc.
1           AA  American Airlines Inc.
2           AS    Alaska Airlines Inc.
3           B6         JetBlue Airways
4           DL    Delta Air Lines Inc.

In [4]:
airport = pd.read_csv("dataset/airport.csv")

In [5]:
airport.head()

,airport_id,airport_code,airport_name,address,city,state,longitude,latitude
0,10135,ABE,Lehigh Valley International,3311 Airport Rd,Allentown,PA,-75.44040,40.65236
1,10136,ABI,Abilene Regional,2933 Airport Blvd,Abilene,TX,-99.68190,32.41132
2,10139,ABL,Ambler River,NaN,Ambler,AK,-157.85747,67.10631
3,10140,ABQ,Albuquerque International Sunport,2200 Sunport Blvd SE,Albuquerque,NM,-106.60919,35.04022
4,10141,ABR,Aberdeen Regional,123 S Lincoln St,Aberdeen,SD,-98.42183,45.44906

In [6]:
cancellation_df = pd.read_csv("dataset/cancellation.csv")
cancellation_df.columns = ['cancellation_code', 'cancellation_description']

In [7]:
cancellation_df

  cancellation_code cancellation_description
0                 A                  Carrier
1                 B                  Weather
2                 C      National Air System
3                 D                 Security

## Flights in the Year of 2020

In [34]:
flight_2020 = pd.read_csv("dataset/flights_2020.csv")

In [35]:
flight_2020.shape

(634131, 8)

In [36]:
flight_2020["flight_id"] = range(1, len(flight_2020)+1)
flight_2020.columns = map(str.lower, flight_2020.columns)
flight_2020 = flight_2020[["flight_id", "fl_date","op_unique_carrier", "origin_airport_id", "dest_airport_id", "dep_delay", 
                           "arr_delay", "cancelled", "cancellation_code"]]
flight_2020.columns = ['flight_id', 'flight_date', 'airline_code', 'departure_airport', 'arrival_airport',
                    'departure_delay', 'arrival_delay', 'cancelled', 'cancellation_code']

In [52]:
flight_2020['flight_date'] = pd.to_datetime(flight_2020['flight_date']).dt.strftime('%Y-%m-%d')

In [53]:
flight_2020.head()

,flight_id,flight_date,airline_code,departure_airport,destination_airport,departure_delay,arrival_delay,cancelled,cancellation_code
0,1,2020-03-01,OH,11057,11066,13.0,19.0,0.0,NaN
1,2,2020-03-01,OH,11057,11066,-5.0,-19.0,0.0,NaN
2,3,2020-03-01,OH,11057,11066,-5.0,5.0,0.0,NaN
3,4,2020-03-01,OH,11057,11066,-6.0,-7.0,0.0,NaN
4,5,2020-03-01,YX,11057,11066,11.0,15.0,0.0,NaN

## Flights in the Year of 2019

In [29]:
flights_2019 = pd.read_csv("dataset/flights_2019.csv")

In [30]:
flights_2019.shape

(619982, 8)

In [31]:
flights_2019["flight_id"] = range(1, len(flights_2019)+1)
flights_2019.columns = map(str.lower, flights_2019.columns)
flights_2019 = flights_2019[["flight_id", "fl_date","op_unique_carrier", "origin_airport_id", "dest_airport_id", "dep_delay", 
                           "arr_delay", "cancelled", "cancellation_code"]]
flights_2019.columns = ['flight_id', 'flight_date', 'airline_code', 'departure_airport', 'arrival_airport',
                    'departure_delay', 'arrival_delay', 'cancelled', 'cancellation_code']

In [32]:
flights_2019['flight_date'] = pd.to_datetime(flights_2019['flight_date']).dt.strftime('%Y-%m-%d')

In [33]:
flights_2019.head()

,flight_id,flight_date,airline_code,departure_airport,arrival_airport,departure_delay,arrival_delay,cancelled,cancellation_code
0,1,2019-03-01,9E,11193,13487,43.0,59.0,0,NaN
1,2,2019-03-01,DL,11193,13487,1.0,28.0,0,NaN
2,3,2019-03-01,9E,11193,13487,-5.0,-24.0,0,NaN
3,4,2019-03-01,9E,11193,13487,-5.0,-31.0,0,NaN
4,5,2019-03-01,9E,11193,13487,-2.0,-41.0,0,NaN

## Load data into Sql database

In [98]:
engine_2019 = create_engine('postgresql://postgres:postgres/flight_2019_db')

In [99]:
connection = engine_2019.connect()

In [100]:
engine_2019.table_names()

['airline', 'flight', 'airport', 'cancellation']

In [101]:
airline.to_sql(name='airline', con=engine_2019, if_exists='append', index=False)
airport.to_sql(name='airport', con=engine_2019, if_exists='append', index=False)
cancellation_df.to_sql(name='cancellation', con=engine_2019, if_exists='append', index=False)
flights_2019.to_sql(name='flight', con=engine_2019, if_exists='append', index=False)

---

In [48]:
engine_2020 = create_engine('postgresql://postgres:postgres/flight_2020_db')

In [49]:
connection = engine_2020.connect()

In [50]:
engine_2020.table_names()

['airline', 'flight', 'airport', 'cancellation']

In [62]:
airline.to_sql(name='airline', con=engine_2020, if_exists='append', index=False)
airport.to_sql(name='airport', con=engine_2020, if_exists='append', index=False)
cancellation_df.to_sql(name='cancellation', con=engine_2020, if_exists='append', index=False)
flight_2020.to_sql(name='flight', con=engine_2020, if_exists='append', index=False)